name: Gradle Build Workflow

on:
  workflow_call:
    inputs:
      java-distribution:
        description: The Java Distribution to use, default 'adopt-hotspot'
        required: false
        type: string
        default: adopt-hotspot
      java-version:
        description: The Java Version to use, default '8'
        required: false
        type: int
        default: 8
      include-test-results:
        description: A flag to run publish-unit-test-result
        required: false
        type: boolean
        default: true
      gradle-opts:
        description: Gradle options to include with gradle calls
        required: false
        type: string
    outputs:
      app-version:
        description: The application version
        value: ${{ jobs.Build-With-Gradle.outputs.version }}

jobs:
  Build-With-Gradle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: '0'
          submodules: 'recursive'

      - uses: actions/setup-java@v3
        with:
          # Not sure why the distro was set to 'temurin'
          # distribution: 'temurin'
          distribution: ${{ inputs.java-distribution }}
          java-version: ${{ inputs.java-version }}
          cache: 'gradle'

      ## Will need to find a way to get the version... this one references mule-linter-core.... not sure if that's needed?
      - name: Set Version
        id: set-version
        run: echo "version=$(./gradlew mule-linter-core:properties -q | grep "version:" | awk '{print $2}')" >> $GITHUB_OUTPUT

      - name: Print Version
        run: echo "Version ${{ steps.set-version.outputs.version }}"

      - name: Compile
        run: ./gradlew assemble ${{ inputs.gradle-opts }}

      - name: Verify
        run: ./gradlew check  ${{ inputs.gradle-opts }}

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: ${{ inputs.include-test-results }}
        with:
          files: |
            **/build/test-results/**/*.xml