name: Maven Post Release Workflow

on:
  workflow_call:
    inputs:
      app-version:
        description: Application version that was released
        required: true
        type: string
      java-distribution:
        description: The Java Distribution to use, default 'adopt-hotspot'
        required: false
        type: string
        default: adopt-hotspot
      java-version:
        description: The Java Version to use, default '8'
        required: false
        type: string
        default: 8
      main-branch:
        description: Main branch name
        required: false
        type: string
        default: main
      pr-reviewers:
        description: Users to be included on the post-release pull request
        required: false
        type: string
        default: adesjardin, manikmagar, kkingavio
      next-version:
        description: Next version to use if not the default of incrementing the patch version.
        required: false
        type: string

env:
  is-check-into-main: ${{ github.event_name != 'pull_request' && github.ref == format('refs/head/{0}',inputs.main-branch) }}
  is-snapshot: ${{ contains(inputs.app-version, 'SNAPSHOT') }}

jobs:
  Prepare-Next-Snapshot:
    runs-on: ubuntu-latest
    # Cannot use env.* variables here - https://docs.github.com/en/actions/learn-github-actions/contexts#context-availability
    if: ${{ !contains(inputs.app-version, 'SNAPSHOT') && github.event_name != 'pull_request' && contains(github.ref, inputs.main-branch) }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'
          submodules: 'recursive'

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: ${{ inputs.java-distribution }}
          java-version: ${{ inputs.java-version }}
          cache: maven

      - name: Increment Version
        if: ${{ inputs.next-version == '' }}
        run: |
          ./mvnw clean build-helper:parse-version versions:set -DnewVersion=\${parsedVersion.majorVersion}.\${parsedVersion.minorVersion}.\${parsedVersion.nextIncrementalVersion}-SNAPSHOT -DprocessAllModules versions:commit

      - name: Increment Version from Input Argument
        if: ${{ inputs.next-version != '' }}
        run: |
          ./mvnw clean versions:set -DnewVersion=${{ inputs.next-version }} -DprocessAllModules versions:commit

      - name: Set New Version Variable
        id: set-new-version
        run: echo version=$(./mvnw -q -Dexec.executable=echo -Dexec.args='${project.version}' --non-recursive exec:exec) >> $GITHUB_OUTPUT

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          branch: "chore/v${{ steps.set-new-version.outputs.version }}"
          commit-message: "chore: [create-pull-request]  Auto increment to v${{ steps.set-new-version.outputs.version }}"
          title: "chore: Auto increment to v${{ steps.set-new-version.outputs.version }}"
          delete-branch: true
          assignees: ${{ github.actor }}
          reviewers: ${{ inputs.pr-reviewers }}