name: Python Release Workflow

on:
  workflow_call:
    inputs:
      app-version:
        description: Application version to release
        required: true
        type: string
      main-branch:
        description: Main branch name
        required: false
        type: string
        default: main

jobs:
  release:
    # Cannot use env.* variables here - https://docs.github.com/en/actions/learn-github-actions/contexts#context-availability
    if: ${{ github.event_name != 'pull_request' && contains(github.ref,inputs.main-branch) }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'
          submodules: 'recursive'

      - name: Download Build Artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: dist

      - name: Display structure of downloaded files
        run: ls -R

      - name: Set up Java (for JReleaser)
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: JReleaser full-Release
        uses: jreleaser/release-action@v2
        env:
          JRELEASER_PROJECT_VERSION: ${{ inputs.app-version }}
          JRELEASER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JRELEASER_GPG_PASSPHRASE: ${{ secrets.JRELEASER_GPG_PASSPHRASE }}
          JRELEASER_GPG_PUBLIC_KEY: ${{ secrets.JRELEASER_GPG_PUBLIC_KEY }}
          JRELEASER_GPG_SECRET_KEY: ${{ secrets.JRELEASER_GPG_SECRET_KEY }}
        with:
          arguments: full-release
          setup-java: false

      - name: JReleaser release output
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: jreleaser-release
          path: |
            out/jreleaser/trace.log
            out/jreleaser/output.properties          

